#root {
  background-color: rgba(250, 250, 250, 1);
  border-radius: 5px;
}

.msg,
#header {
  /* color: #003458; */
  color: #000;
}

#send-button {
  background-color: #003458 !important;
  font-size: 0 !important;
  border-radius: 10px;
}

#send-button::after {
  /* content: 'Enviar'; */
  content: url('./send.png');
  font-size: 10px;
  cursor: pointer;
}

/* textarea {
  border: 1px solid #8f8f8f !important;
  background: #ffffff !important;
  color: #3f3f3f !important;
} */

.message-box button {
  background: #003458;
  border-radius: 5px;
  cursor: pointer;
}

/* #messages {
  height: 200px !important;
} */

/* .info .name a {
  color: #000 !important;
  font-size: 0.9em !important;
} */

.messages li .message {
  font-size: 0.8em !important;
}

#problems button {
  background: #003458 !important;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 0.5em;
}

#have-problems {
  content: '';
}

#have-problems::after {
  /* content: 'SUPORTE' !important; */
  font-size: 10px;
  cursor: pointer;
  padding: 5px 0;
}

.message-box button:hover,
#problems button:hover {
  opacity: 0.9;
}
