@import 'bootstrap';

.reveal-base {
    /* Valores de fallback */
    --reveal-x: 0px;
    --reveal-y: 20px;
    --reveal-duration: 0.8s;
    --reveal-delay: 0s;

    opacity: 0;
    transform: translate(var(--reveal-x), var(--reveal-y));

    /* Variáveis de tempo */
    transition:
        opacity var(--reveal-duration) ease-out var(--reveal-delay),
        transform var(--reveal-duration) cubic-bezier(0.165, 0.84, 0.44, 1) var(--reveal-delay);

    will-change: transform, opacity;
}

.reveal-active {
    opacity: 1;
    transform: translate(0, 0);
}

.position-relative {
    position: relative;
}

.bg-default{
    background: url('@/assets/img/background.png') no-repeat center / cover #F1EDF6;
}

.text-required{
    color: #A24982;
}

.tds{
    font-size: 12px;
}

.text-principal {
    color: #112C6E;
}

.btn-default{
    background-color: #A24982;
    color: white;
}

.btn-default:hover{
    background-color: #8a3d6e;
    color: white;
    transform: translateY(-4px);
    transition: all 0.3s ease-in-out;
}

@media (min-width: 992px){
    .tds{
        font-size: 24px;
    }
}